src/Extensions/org/objectweb/proactive/extensions/gcmdeployment/GCMApplication/commandbuilder/ProActiveSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
	targetNamespace="urn:gcm:application:1.0"
	xmlns="urn:gcm:application:1.0"
	elementFormDefault="qualified">

	<xsd:include schemaLocation="../../schema/ApplicationDescriptorRootSchema.xsd"/>	

	<xsd:element name="proactive" type="proactiveType" substitutionGroup="abstractApplicationElement">
        <xsd:annotation>
            <xsd:documentation>
                <p>ProActive application</p>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

	<xsd:complexType name="proactiveType">
		<xsd:complexContent>
			<xsd:extension base="applicationNodeType">
				<xsd:sequence>
					<xsd:element name="configuration" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
				<xsd:documentation>
                                <p>Various configuration parameters</p>
                            </xsd:documentation>
                        </xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="bootClasspath" type="pathType" minOccurs="0">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Boot classpath for the JVMs</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="java" type="pathElementType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            <p>Path to the Java executable</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="jvmarg" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            <p>Arguments passed to the JVMs</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
									<xsd:complexType>
										<xsd:attribute name="value" type="xsd:string" use="required">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <p>Argument value (e.g. "-Dsecurity.manager")</p>
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="applicationClasspath" type="pathType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Classpath for the application</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="proactiveClasspath" type="classpathType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Classpath used to override the standard ProActive classpath computed from its installation location</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="securityPolicy" type="pathElementType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Path to the Java security policy file</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="proactiveSecurity" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Security policy for application and runtime</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="applicationPolicy" type="pathElementType"  minOccurs="0" maxOccurs="1">
                                                <xsd:annotation>
							<xsd:documentation>
                                                        <p>
                                                            Path to the Java security policy file that will be applied on the application's objects
                                                            deployed at runtime like nodes and active objects.
                                                        </p>
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
											<xsd:element name="runtimePolicy" type="pathElementType"  minOccurs="0" maxOccurs="1">
                                                <xsd:annotation>
							<xsd:documentation>
                                                        <p>Path to Java security policy file that will be applied on the ProActive Runtime.</p>
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="log4jProperties" type="pathElementType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Path to the Java log4j configuration file</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="userProperties" type="pathElementType" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
					<xsd:documentation>
                                            <p>Path to the properties file (Java and/or ProActive properties)</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
								<xsd:element name="debug" minOccurs="0" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            <p>TODO: Complete me</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
								    <xsd:complexType>
									    <xsd:attribute name="command" use="optional">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    <p>TODO: Complete me</p>
                                                </xsd:documentation>
                                            </xsd:annotation>
									    </xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>

					<xsd:element name="technicalServices" type="technicalServiceType" minOccurs="0">
                        <xsd:annotation>
				<xsd:documentation>
                                <p>
                                    A technical service is a non-functional requirement that may be
                                    dynamically fulfilled at runtime by adapting the configuration of selected resources.
                                    For instance, we can use a technical service to activate the fault-tolerance mechanism
                                    on each node. For more information, please refer to the chapter dealing with this feature.
                                    A technical service can be defined at the application level, at the virtual node level
                                    or at the node provider level.
                                </p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>

					<xsd:element name="virtualNode" type="virtualNodeType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
				<xsd:documentation>
                                <p>Virtual node used for the deployment of the ProActive application</p>
                            </xsd:documentation>
                        </xsd:annotation>
						<xsd:unique name="nodeProviderConstraint">
							<xsd:selector xpath="nodeProvider"></xsd:selector>
							<xsd:field xpath="@refid"></xsd:field>
						</xsd:unique>
					</xsd:element>

					<xsd:element name="data" type="dataType" minOccurs="0" maxOccurs="1">
						<xsd:unique name="inputConstraint">
							<xsd:selector xpath="input"></xsd:selector>
							<xsd:field xpath="@id"></xsd:field>
						</xsd:unique>
						<xsd:unique name="outputConstraint">
							<xsd:selector xpath="output"></xsd:selector>
							<xsd:field xpath="@id"></xsd:field>
						</xsd:unique>
					</xsd:element>

				</xsd:sequence>

				<xsd:attribute name="relpath" type="pathElementGeneralType" use="required">
                    <xsd:annotation>
			<xsd:documentation>
                            <p>Location of the ProActive installation (path relative to the base)</p>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>

				<xsd:attribute name="base" use="required">
                    <xsd:annotation>
			<xsd:documentation>
                            <p>Base location of the ProActive installation: can be "home" or "root":</p>
                            <ul>
                                <li>if "home", base path will be the user’s home directory</li>
                                <li>if "root", base path will be the root directory of the system</li>
                            </ul>
                        </xsd:documentation>
                    </xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="home" />
							<xsd:enumeration value="root" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="technicalServiceType">
		<xsd:sequence>
			<xsd:element name="class" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <p>Class defining how to configure nodes. This class has to implements the <i>TechnicalService</i> interface.</p>
                    </xsd:documentation>
                </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="property" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <p>Defines a property to be set to the nodes</p>
                                </xsd:documentation>
                            </xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="name" type="NonEmptyTextOrVariableType" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            <p>Name of the property</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
								<xsd:attribute name="value" type="TextOrVariableType" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            <p>Value of the property</p>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="name" type="NonEmptyTextOrVariableType" use="required">
                        <xsd:annotation>
                            <xsd:documentation>
                                <p>Full name of the class</p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="virtualNodeType">
		<xsd:sequence>
			<xsd:element name="technicalServices" type="technicalServiceType" minOccurs="0">
                <xsd:annotation>
			<xsd:documentation>
                        <p>
                            A technical service is a non-functional requirement that may be
                            dynamically fulfilled at runtime by adapting the configuration of selected resources.
                            For instance, we can use a technical service to activate the fault-tolerance mechanism
                            on each node. For more information, please refer to the chapter dealing with this feature.
                            A technical service can be defined at the application level, at the virtual node level
                            or at the node provider level.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="nodeProvider" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
			<xsd:documentation>
                        <p>Reference to a or several node providers described in the &lt;resources&gt; element.</p>
                    </xsd:documentation>
                    <xsd:documentation>
                        <p>
                            If there is no reference to a node provider, then the virtual node can retrieve nodes from any node provider
                            defined into the &lt;resources&gt; element.
                        </p>
                    </xsd:documentation>
                </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="technicalServices" type="technicalServiceType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <p>
                                        A technical service is a non-functional requirement that may be
                                        dynamically fulfilled at runtime by adapting the configuration of selected resources.
                                        For instance, we can use a technical service to activate the fault-tolerance mechanism
                                        on each node. For more information, please refer to the chapter dealing with this feature.
                                        A technical service can be defined at the application level, at the virtual node level
                                        or at the node provider level.
                                    </p>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
					</xsd:sequence>
					<xsd:attribute name="refid" type="IdOrVariableType" use="required">
                        <xsd:annotation>
				<xsd:documentation>
                                <p>Id of the node provider that will be used to describe it in the &lt;resources&gt; element</p>
                            </xsd:documentation>
                            <xsd:documentation>
                                <p>This id has to match with the id of one of the node providers described in the &lt;resources&gt; element</p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
					<xsd:attribute name="capacity" type="PosintOrVariableType">
                        <xsd:annotation>
				<xsd:documentation>
                                <p>Number of nodes requested by the virtual node to this node provider</p>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="IdOrVariableType" use="required">
            <xsd:annotation>
		<xsd:documentation>
                    <p>Id of the virtual node</p>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
		<xsd:attribute name="capacity" type="PosintOrVariableType">
            <xsd:annotation>
		<xsd:documentation>
                    <p>Number of nodes requested by the virtual node to all of the node providers.</p>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
	</xsd:complexType>

	<xsd:simpleType name="DataSpacesInputOutputIdType">
		<xsd:restriction base="idType">
			<xsd:pattern
				value="[^/]{1,6}|[^/]{8,}|[^d][^/]{6}|[^/][^e][^/]{5}|[^/]{2}[^f][^/]{4}|[^/]{3}[^a][^/]{3}|[^/]{4}[^u][^/]{2}|[^/]{5}[^l][^/]|[^/]{6}[^t]" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DataSpacesInputOutputIdOrVariableType">
		<xsd:union memberTypes="DataSpacesInputOutputIdType variableRefType" />
	</xsd:simpleType>

	<xsd:complexType name="locationType">
		<xsd:attribute name="hostname" type="hostnameOrVariableType" use="required" />
		<xsd:attribute name="path" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="inputDefaultType">
		<xsd:all>
			<xsd:element name="remoteAccess" type="serviceWithURLType" minOccurs="1" />
			<xsd:element name="location" type="locationType" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="inputType">
		<xsd:complexContent>
			<xsd:extension base="inputDefaultType">
				<xsd:attribute name="id" use="required"	type="DataSpacesInputOutputIdOrVariableType" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="outputDefaultType">
		<xsd:all minOccurs="1">
			<xsd:element name="remoteAccess" type="serviceWithURLType" minOccurs="1" />
			<xsd:element name="location" type="locationType" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="outputType">
		<xsd:complexContent>
			<xsd:extension base="outputDefaultType">
				<xsd:attribute name="id" type="DataSpacesInputOutputIdOrVariableType" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="dataType">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1" name="namingService" type="serviceWithURLType" />

			<xsd:element minOccurs="0" maxOccurs="1" name="inputDefault" type="inputDefaultType" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="input" type="inputType" />

			<xsd:element minOccurs="0" maxOccurs="1" name="outputDefault" type="outputDefaultType" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="output" type="outputType" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
